HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
bin/
### VS Code ###
.vscode/

/src/main/webapp
/xadmin_dat.lock.db
/xadmin_dat.mv.db
/xadmin_log.lock.db
/xadmin_log.mv.db
/xadmin_dat.lock.db.mv.db
/xadmin_dat.lock.db.trace.db
/xadmin_dat.trace.db
/xadmin_log.lock.db.mv.db
/xadmin_log.lock.db.trace.db
