.sort-table-head{
    cursor: pointer;
}

.asc-icon{
    color: #c5c8ce;
    position: relative;
    top: 3px;
}
.desc-icon{
    color: #c5c8ce;
}
.sort-asc .asc-icon{
    color: #2d8cf0!important;
}

.sort-desc .desc-icon{
    color: #2d8cf0!important;
}